<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               
               <ul class="list-inline quicklinks">
                    <li class="text-white"><a href="#">会社概要</a>
                    </li>
                    <li class="text-white"><a href="#">プライバシーポリシー</a>
                    </li>
                    <li class="text-white"><a href="#">よくあるご質問</a>
                    </li>
                    <li class="text-white"><a href="#">お問い合わせ</a>
                    </li>
                    <li class="text-white"><a href="#">利用規約・注文約款</a>
                    </li>
                </ul>

                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="mailto:自分のメールアドレス?subject=お問い合わせ"><i class="fa fa-envelope"></i></a>
                    </li>
                </ul>           
                <span class="copyright">Copyright &copy; FunMeal 2017</span>
            </div>                
            </div>
        </div>
   
</footer>


